<div class="container text-center">
  <h1>{{ content.title }}:</h1>
  <img
    src="/assets/images/{{ content.photo }}"
    class="img-fluid size"
    alt="Cerrajeria"
  />
  <br /><br />
  <p>{{ content.description1 }}</p>
  <p>{{ content.description2 }}</p>
  <p>{{ content.description3 }}</p>
  <p>{{ content.description4 }}</p>
  <br />

  <h3>
    No dudes en contactarnos sin compromiso, pincha en
    <a class="nav-link" routerLink="/contact">Contacto</a> o llámanos al 651 074
    590. Le atenderemos en la mayor brevedad posible.
  </h3>
</div>
