<div *ngIf="showIt" class="messageInit">
  <app-contact-top></app-contact-top>
</div>

<!-- <div *ngIf="showIt" class="message">
  <h5 class="messageBody">
    Introduce tu nombre, telefono y/o correo y descripción
  </h5>
</div> -->

<br />
<form
  class="example-form center"
  [formGroup]="contactForm"
  (ngSubmit)="handleSubmit()"
  *ngIf="showIt"
  id="demo-form"
>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Nombre"
      formControlName="name"
      [maxLength]="55"
    />
  </mat-form-field>
  <br /><br />
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Telefono"
      formControlName="phone"
      [maxLength]="18"
    />
    <mat-error *ngIf="!contactForm.hasError('invalidNumber')">
      Introduzca un telefono valido
    </mat-error>
  </mat-form-field>
  <br /><br />
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Email"
      [maxLength]="55"
      formControlName="email"
    />
    <mat-error *ngIf="!contactForm.hasError('email')">
      Introduzca un email valido
    </mat-error>
  </mat-form-field>
  <br /><br />

  <mat-form-field class="example-full-width">
    <textarea
      matInput
      placeholder="Breve descripción"
      matTextareaAutosize
      matAutosizeMinRows="1"
      matAutosizeMaxRows="5"
      formControlName="text"
    ></textarea>
  </mat-form-field>

  <button class="buttonSubmit" [disabled]="!contactForm.valid">
    Enviar
  </button>
</form>

<div *ngIf="!showIt">
  <h2>Gracias por su mensaje</h2>
  <p>
    <b>En breve contactaremos con usted. </b>
  </p>
  <p><a routerLink="">Volver a la pagina inicial</a></p>
</div>
