<div class="text-center">
  <br />
  <img src="/assets/images/servicios.png" class="img-fluid" alt="Cerrajeria" />

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm pointer" (click)="showDetails('lostkeys')">
        <span style="font-size: 2em;"> <i class="fas fa-key"></i></span>

        <h5>Perdida de llaves:</h5>
        <p>
          Servicio de urgencia el cual le permitirá volver a entrar a su
          domicilio y además se ofrecerá la posibilidad de cambiar la cerradura
          para su mayor tranquilidad.
        </p>
        <p class="pointerColor">
          Mas informacion...
        </p>
      </div>
      <div class="col-sm">
        <span style="font-size: 2em;"> <i class="fas fa-door-open"></i></span>

        <h5>Aperturas:</h5>
        <p>
          Abrimos cualquier tipo de cerradura: puertas normales, incluso las
          blindadas y acorazadas. Sin dañarlas, dejándolas completamente
          operativas. También abrimos vehículos, cajas fuertes y otros tipos de
          cerraduras.
        </p>
      </div>
      <div class="col-sm">
        <span style="font-size: 2em;"> <i class="fas fa-screwdriver"></i></span>

        <h5>Cambio de cerraduras:</h5>
        <p>
          Disponemos del mejor equipo para poder realizar cambios de cerradura
          en el momento.
        </p>
      </div>
    </div>
  </div>
</div>
