<div class="text-center">
  <br />
  <img src="/assets/images/servicios.png" class="img-fluid" alt="Cerrajeria" />

  <div class="container">
    <div class="row">
      <div
        class="col-sm pointer border border-dark"
        (click)="showDetails('LostKeys')"
      >
        <span style="font-size: 2em;"> <i class="fas fa-key"></i></span>

        <h5>Perdida de llaves:</h5>
        <p>
          Servicio de urgencia el cual le permitirá volver a entrar a su
          domicilio y además se ofrecerá la posibilidad de cambiar la cerradura
          para su mayor tranquilidad.
        </p>
        <p class="pointerColor">
          Mas informacion...
        </p>
      </div>
      <div
        class="col-sm pointer border border-dark"
        (click)="showDetails('Openings')"
      >
        <span style="font-size: 2em;"> <i class="fas fa-door-open"></i></span>

        <h5>Aperturas:</h5>
        <p>
          Abrimos cualquier tipo de cerradura: puertas normales, incluso las
          blindadas y acorazadas. Sin dañarlas, dejándolas completamente
          operativas. También abrimos vehículos, cajas fuertes y otros tipos de
          cerraduras.
        </p>
        <p class="pointerColor">
          Mas informacion...
        </p>
      </div>
      <div
        class="col-sm pointer border border-dark"
        (click)="showDetails('Locks')"
      >
        <span style="font-size: 2em;"> <i class="fas fa-screwdriver"></i></span>

        <h5>Cambio de cerraduras:</h5>
        <p>
          Disponemos del mejor equipo para poder realizar cambios de cerradura
          en el momento.
        </p>
        <p class="pointerColor">
          Mas informacion...
        </p>
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div
        class="col-sm pointer border border-dark"
        (click)="showDetails('ShopBlinds')"
      >
        <span style="font-size: 2em;"> <i class="fas fa-store"></i></span>

        <h5>Persianas de local y cierres:</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque earum
          totam quidem reiciendis similique id voluptas ex aperiam minus fugiat
          veniam maxime est necessitatibus, provident perspiciatis, aliquam
          doloribus, cum hic?
        </p>
        <p class="pointerColor">
          Mas informacion...
        </p>
      </div>
      <div
        class="col-sm pointer border border-dark"
        (click)="showDetails('FamilyDoor')"
      >
        <span style="font-size: 2em;"> <i class="fas fa-home"></i></span>

        <h5>Puertas seccionales de vivienda unifamiliar:</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque earum
          totam quidem reiciendis similique id voluptas ex aperiam minus fugiat
          veniam maxime est necessitatibus, provident perspiciatis, aliquam
          doloribus, cum hic?
        </p>
        <p class="pointerColor">
          Mas informacion...
        </p>
      </div>
      <div
        class="col-sm pointer border border-dark"
        (click)="showDetails('HomeBlinds')"
      >
        <span style="font-size: 2em;"> <i class="fas fa-hotel"></i></span>

        <h5>Persianas:</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque earum
          totam quidem reiciendis similique id voluptas ex aperiam minus fugiat
          veniam maxime est necessitatibus, provident perspiciatis, aliquam
          doloribus, cum hic?
        </p>
        <p class="pointerColor">
          Mas informacion...
        </p>
      </div>
    </div>
  </div>
</div>
