<br /><br />
<div class="container">
  <div class="text-center">
    <img
      src="/assets/images/servicios.png"
      class="img-fluid"
      alt="Cerrajeria"
    />
  </div>
  <div class="row justify-content-center">
    <div
      *ngFor="let item of services"
      class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 pointer border border-dark text-center"
      (click)="showDetails(item)"
    >
      <span style="font-size: 2em;">
        <i class="{{ details[item].icon }}"></i
      ></span>
      <h5>{{ details[item].title }}</h5>
      <p>{{ details[item].shortDescription }}</p>
      <p class="pointerColor">
        Mas informacion...
      </p>
    </div>
  </div>
</div>
