<nav class="navbar navbar-expand-md navbar-dark bg-info sticky-top">
  <a class="navbar-brand brand" routerLink="/">
    <img src="/assets/images/logo2.png" class="img-fluid" alt="Cerrajeria" />
    <!-- Cerrajeros de la vega baja -->
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    [ngClass]="{ show: navbarOpen }"
    (click)="toggleNavbar()"
  >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Inicio</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="servicios">Servicios</a>
      </li>
    </ul>
  </div>
</nav>
