<div *ngIf="showMe" class="jumbotron bg-info ex2 text-center">
  <div class="row">
    <div class="col-md animate-reveal animate-first">
      <a href="tel:+34 555-555-5555">
        <div class="alertMob" role="alert">
          <img
            src="assets/images/si-glyph-wrench-screwdriver.svg"
            class="img-fluid"
          />
          <p class="font-italic makeTextSmaller">
            Servicio garantizado
          </p>
        </div>
      </a>
    </div>
    <div class="col-md animate-reveal animate-second">
      <div class="alertMob" role="alert">
        <img src="assets/images/si-glyph-ambulance.svg" class="img-fluid" />
        <p class="font-italic makeTextSmaller">
          Rapidez
        </p>
      </div>
    </div>

    <div class="col-md animate-reveal animate-third">
      <div class="alertMob" role="alert">
        <img src="assets/images/si-glyph-alarm-clock.svg" class="img-fluid" />
        <p class="font-italic makeTextSmaller">
          Servicio 24 Horas
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="!showMe" class="container text-center">
  <a href="tel:+34 555-555-5555"
    ><p>
      <span style="font-size: 2em;"><i class="fas fa-phone"></i></span>
      666 777 888
    </p></a
  >
</div> -->
