<div *ngIf="showMe" class="jumbotron bg-info ex2 text-center">
  <div class="row">
    <div class="col-md animate-reveal animate-first">
      <div class="alertMob" role="alert">
        <img src="assets/images/si-glyph-ambulance.svg" class="img-fluid" />
        <p class="font-italic makeTextSmaller">
          Rapidez
        </p>
      </div>
    </div>

    <div class="col-md animate-reveal animate-second">
      <div class="alertMob" role="alert">
        <img src="assets/images/si-glyph-alarm-clock.svg" class="img-fluid" />
        <p class="font-italic makeTextSmaller">
          Servicio 24 Horas
        </p>
      </div>
    </div>
    <div class="col-md animate-reveal animate-third">
      <div class="alertMob" role="alert">
        <img src="assets/images/si-glyph-old-phone.svg" class="img-fluid" />
        <p class="font-italic makeTextSmaller">
          Llamanos 666 777 888
        </p>
      </div>
    </div>
  </div>
</div>
<br />
<div class="container text-center">
  <button type="button" class="btn btn-info">
    <a href="tel:+34 555-555-5555"
      ><i class="fas fa-phone"> Llamar ahora 666 777 888</i></a
    >
  </button>
  <br /><br />
</div>
