<div class="container text-center">
  <br />
  <h2>Poblaciones con cobertura:</h2>
  <br /><br />
</div>
<div class="container justify-content-center">
  <ul class="list-group">
    <div class="row">
      <div
        *ngFor="let locationItem of locationList; let i = index"
        class="container-fluid col-12 col-sm-12 col-md-6 col-lg-4"
      >
        <h4>
          <a
            [routerLink]="['cerrajero', locationItem]"
            class="list-group-item list-group-item-action text-center"
          >
            <b> {{ locationItem }} </b></a
          >
        </h4>
      </div>
    </div>
  </ul>
</div>
