.makeGone {
  display: none;
}

.makeVisible {
  display: inline;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-grid-tile {
  background: lightblue;
}

/* ********************************* */
/*       Delay Display               */
/* ********************************* */

.animate-reveal {
  font: bold 1.5em sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0;
  -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  -moz-animation: reveal 1s ease-in 1 normal forwards;
  -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
  -webkit-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  -o-animation-delay: 200ms;
  animation-delay: 200ms;
  color: white;
}

.animate-second {
  -webkit-animation-delay: 1200ms;
  -moz-animation-delay: 1200ms;
  -o-animation-delay: 1200ms;
  animation-delay: 1200ms;
  color: white;
}

.animate-third {
  -webkit-animation-delay: 2200ms;
  -moz-animation-delay: 2200ms;
  -o-animation-delay: 2200ms;
  animation-delay: 2200ms;
  color: white;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

/* ************************************** */

.ex1 {
  margin-top: -35px;
}

.ex2 {
  margin-top: -5px;
}

.alert {
  width: auto;
  height: 180px;
}

/* resize images */
.alert img {
  width: auto;
  height: 80%;
}

.alertMob {
  width: auto;
  height: 180px;
}

/* resize images */
.alertMob img {
  width: auto;
  height: 80%;
}

.alertMob p {
  color: #3c3737;
}

.makeTextSmaller {
  font-size: 0.7em;
}
