<div class="jumbotron jumbotron-fluid text-center">
  <h1>Cerrajeros {{ location }}:</h1>
</div>
<div class="container text-center">
  <h5>
    En cerrajeros {{ location }} realizamos una gran variedad de servicios, con
    la máxima urgencia.
  </h5>
  <p>
    Cerrajeros urgentes en toda la zona de {{ location }}. No importa la hora,
    ni en el lugar que te encuentres, estaremos ahí en menos tiempo de lo
    acordado. Trabajamos los 365 días del año.
  </p>
  <p>
    <b><a routerLink="/servicios">Consulta nuestros servicios</a></b>
  </p>
  <p>
    <b
      >A precios asequibles y servicios 24 horas para todo tipo de urgencias.</b
    >
  </p>
  <p>
    No dudes en contactarnos sin compromiso, pincha en
    <b><a routerLink="/contact">Contacto</a></b> o llámanos al 651 074 590. Le
    atenderemos en la mayor brevedad posible.
  </p>
</div>
